.disabled {
    color: #eaa50b;
    padding: 17px;
    text-decoration-line: line-through;
}

.disabled:hover {
    background-color: #cbc7c7;
}

.enabled {
    color: #eaa50b;
    padding: 17px;
}

.enabled:hover {
    background-color: #ffffff;
}

.item__wrapper {
    width: 40%;
    border: 3px solid green;
    border-radius: 4px;
    margin-bottom: 14px;
}

